@{ ViewBag.Title = "Index"; }

@using (Html.BeginForm())
{
<h2>Date: </h2>
   <input id="attendanceDate" name="attendanceDate" type='date' min='1899-01-01' max='2000-13-13' />
   <table class="table table-striped">
      <thead>
          <tr>
              <th>Student</th>
              <th>Mark</th>
          </tr>
      </thead>
      <tbody>
          @foreach (var student in ViewBag.TeacherList)
          {
          <tr>
              <td>@student.Name</td>
              <td>
                  <input type="checkbox" name="markedStudentId[]" value="@student.ID" />
              </td>

          </tr>}
         </tbody>
    </table>
          <input type="submit" class="btn btn-success" value="Submit" />}
<script>
    debugger;
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1;
    var yyyy = today.getFullYear();
    debugger;
    if (dd < 10) {
        dd = '0' + dd
    }
    debugger;
    if (mm < 10) {
        mm = '0' + mm
    }
    debugger;
    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("attendanceDate").setAttribute("max", today);
    document.getElementById("attendanceDate").value = today;
</script>

